:root {
    --card-bg: #0a3d52;
    --card1-bg: #022531;

    --border-color: #1568bb;
    --background-color: #117caa;
}

.farm-monitoring-header {
    background-color: linear-gradient(to bottom, var(--card-bg), var(--card1-bg));
    color: var(--alert-text);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 160px;
}

.farm-monitoring-header h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    color: var(--alert-text);
}

.farm-monitoring-header p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--alert-text);
    max-width: 700px;
}

.provider-recommendations-header {
    background-color: linear-gradient(to bottom, var(--card-bg), var(--card1-bg));
    color: var(--alert-text);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.filters select,
.filters input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 180px;
    background-color: #fff;
    font-size: 14px;
}

.filters button {
    background-color: #0e2c38;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.filters button:hover {
    background-color: #1568bb;
}

.map-container {
    margin-top: 2rem;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.map-container-leaflet {
    height: 500px;
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.provider-recommendations-header h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    color: var(--alert-text);
}

.provider-recommendations-header p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--alert-text);
    max-width: 700px;
}


.farm-table {
    min-width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: var(--card-bg);
    color: #e6faff;
    font-size: 15px;
}



.farm-table th,
.farm-table td {
    padding: 16px;
    text-align: left;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid var(--border-color);

}

.farm-table th {
    background-color: var(--card1-bg);
    position: sticky;
}



.farm-table td {
    padding: 14px 16px;
    font-weight: 400;
    color: #d7f1ff;
}

/* Pump status indicators */
.farm-table td.status-on {
    color: #00e676;
    font-weight: 700;
}

.farm-table td.status-off {
    color: #ff5252;
    font-weight: 700;
}

@media (max-width: 1020px) {
    .farm-monitoring-header {
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .farm-table {
        min-width: 700px;
    }
}

@media (max-width: 450px) {
    .farm-monitoring-header {
        margin-top: 150px;
    }
}