:root {
  --card-text: #F5F5F5;
  --export-bg: #0e2c38;
  --border-color: #1568bb;

}

.export-logs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  width: 100%;
  box-sizing: border-box;

}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 230px;
  background-color: #0e2c38;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  position: absolute;
  z-index: 999;
  bottom: 10%;
  /* position above the button */
  left: 120%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.export-title {
  background-color: var(--export-bg);
  padding: 20px;
  font-size: 15px;
  color: white;
  margin-bottom: 24px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 180px;
}

.export-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  width: 100%;
  max-width: 1000px;
  padding: 0 16px;
}

.export-explanation-button {
  background-color: var(--export-bg);
  border: none;
  font-size: 15px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.export-btn {
  width: 450px;

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 50px 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.export-btn:hover {
  background-color: #2b2b2b;
}

.export-icon {
  width: 50px;
  height: 50px;
}

/* Color specifics */
.export-btn.csv {
  border-left: 6px solid #00cc66;
}

.export-btn.pdf {
  border-left: 6px solid #e60000;
}

/* Responsive layout on smaller screens */
@media (max-width: 1000px) {

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }

  .export-title {
    margin-top: 200px;
  }
}

@media (max-width: 872px) {

  .tooltip-text {
    /* position above the button */
    left: 100%;

  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }

}

@media (max-width: 685px) {

  .tooltip-text {
    /* position above the button */
    left: 80%;

  }

}

@media (max-width: 500px) {
  .export-buttons {
    flex-direction: column;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }

  .tooltip-text {
    /* position above the button */
    left: 70%;
    bottom: 15%;

  }


  .export-btn {
    width: 350px;
  }
}