:root {
  --topbar-height: 100px;
  --notifications-text: #F5F5F5;
  --notifications-bg: #0e2c38;
  --border-color: #1568bb;
  --notifications-read-bg: #297391;
  --notifications-bg-unread: #010f14;

}

.notifications-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
  color: var(--notifications-text);
  background-color: var(--notifications-bg);
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--border-color);
  padding: 20px;
}

.notifications-header h2 {
  font-size: 1.5rem;
  color: var(--notifications-text);
}

.clear-all {
  background: none;
  color: #4ea1f3;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  color: var(--notifications-text);
  background-color: var(--notifications-bg);
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--border-color);
  padding: 20px;
}

.notification-card.unread {
  background: var(--notifications-bg-unread);
  color: var(--notifications-text);
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-card.read {
  background-color: var(--notifications-read-bg);
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
}

.notification-content strong {
  font-size: 1rem;
  margin-bottom: 15px;
}

.notification-content small {
  color: var(--notifications-text);
  font-size: 0.875rem;
}

.mark-read {
  background: none;
  border: none;
  color: #bbb;
  font-size: 0.9rem;
  cursor: pointer;
}

.mark-read:hover {
  color: #fff;
}

/* 📱 Responsive */
@media (max-width: 600px) {
  .notification-card {
    padding: 5px;
  }

  .mark-read {
    align-self: flex-end;
  }
}