:root {
  --topbar-height: 100px;
  --profile-text: #F5F5F5;
  --profile-bg: #0e2c38;
  --border-color: #1568bb;
  --profile-read-bg: #297391;

}

.profile-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  color: var(--profile-text);
}

.profile-card {
  background-color: var(--profile-bg);
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  box-shadow: 0 2px 6px var(--border-color);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1 1 auto;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-info h3 {
  margin: 0 0 6px;
}

.profile-info p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: var(--profile-text);
}

.edit-button {
  background-color: #444;
  border: none;
  color: var(--profile-text);
  padding: 8px 16px;
  align-self: flex-start;
  border-radius: 6px;
  cursor: pointer;
  height: fit-content;
  font-weight: bold;
}

.edit-button:hover {
  background-color: #666;
}

/* Responsive Breakpoints */
@media (max-width: 600px) {
  .profile-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .edit-button {
    width: 100%;
    margin-top: 12px;
  }

  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }
}