:root {
  --topbar-height: 100px;
  --card-text: #F5F5F5;
  --card-bg: #0e2c38;
  --border-color: #1568bb;
  --recommendation-bg: #597580;
  --recommendation-text: ##ffffff;

}

.smart-recommendations-container {
  padding: 20px;
  color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.smart-recommendations {
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
}

.recommendation {
  background-color: var(--recommendation-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 2px var(--border-color);
}

.recommendation h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--recommendation-text);
}

.recommendation p {
  font-size: 14px;
  color: var(--recommendation-text);
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .smart-recommendations-container {
    padding: 10px;
  }

  .recommendation {
    padding: 15px;
  }

  .recommendation h2 {
    font-size: 16px;
  }

  .recommendation p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .recommendation h2 {
    font-size: 14px;
  }

  .recommendation p {
    font-size: 12px;
  }
}