:root {
  --border-color: #1568bb;
  --navbar-bg: #0e2c38;
  --topbar-height: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Sidebar Css */
.sidebar.open {
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  height: calc(100vh - var(--topbar-height, 60px));
  background-color: var(--navbar-bg);
  color: #fff;
  z-index: 999;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  box-shadow: var(--border-color) 0px 0px 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.sidebar-item {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.sidebar-item.active {
  background-color: #d9d9d9;
  border-radius: 15px;
  max-width: 311px;
  max-height: 35px;
  padding: 10px;
  align-items: center;
  justify-content: left;
  display: flex;
  color: #4e4c4c;
  margin-left: 0px;
}

.sidebar-item:hover {
  background-color: #d9d9d9;
  border-radius: 15px;
  max-width: 311px;
  max-height: 35px;
  padding: 10px;
  align-items: center;
  justify-content: left;
  display: flex;
  color: #4e4c4c;
  margin-left: 0px;
}

.sidebar-logout,
.sidebar-profile,
.sidebar-settings {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  cursor: pointer;
}

.sidebar-profile:hover,
.sidebar-settings:hover {
  background-color: #d9d9d9;
  border-radius: 15px;
  max-width: 311px;
  max-height: 35px;
  padding: 10px;
  align-items: center;
  justify-content: left;
  display: flex;
  color: #4e4c4c;
  margin-left: 0px;
}

.logout-icon,
.profile-icon,
.settings-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logout-link,
.profile-link,
.settings-link {
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

/* Top Bar Css*/
.topBar {
  width: 100vw;
  position: fixed;
  box-sizing: border-box;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--navbar-bg);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 10px 20px;
  border-color: var(--border-color);
  box-shadow: var(--border-color) 0px 0px 2px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-left: auto;
  margin-right: auto;
}

.topBar-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topBar-logo {
  max-width: 160px;
  max-height: 50px;
  margin-right: 5px;
  border-radius: 20px;
}

.topBar-close-menu,
.topBar-open-menu-icon {
  max-width: 40px;
  max-height: 35px;
  margin-left: 5px;
}

.topBar-close-menu:hover,
.topBar-open-menu-icon:hover {
  cursor: pointer;
}

.topBar-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}


.role-icon {
  width: 30px;
  height: 30px;
}

.user-role {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Wrapper for tooltip logic */


.tooltip-sm-screen {
  display: none;
}

.topBar-profile {
  display: flex;
  align-items: center;
  gap: 5px;

}

.topBar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/*Location*/
.location {
  display: flex;
  align-items: center;
}

.location img {
  width: 30px;
  height: 30px;
}

.location p {
  margin-left: 5px;
  font-size: 20px;
}

/*Notifications Top Bar*/

.notifications-topBar {
  position: relative;
  display: inline-block;

}

.notifications-topBar img {
  width: 30px;
  height: 30px;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  z-index: 1;
}

.notifications-topBar p {
  margin-left: 5px;
  font-size: 20px;
}

.today-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-date p {
  margin-left: 10px;
  font-size: 20px;
}

.topBar-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Media queries for responsive design */
@media (max-width: 1040px) {
  .topBar a {
    font-size: 12px;
  }

  .location img {
    width: 30px;
    height: 30px;
  }

  .role-label {
    font-size: 12px;
  }

  .location p {
    font-size: 12px;
  }

  .notifications-topBar img {
    width: 30px;
    height: 30px;
  }

  .notifications-topBar p {
    font-size: 12px;
  }

  .today-date p {
    font-size: 12px;
  }

  .topBar-profile img {
    width: 30px;
    height: 30px;
  }

  .topBar-profile p {
    font-size: 8px;
  }

  .topBar-close-menu,
  .topBar-open-menu-icon {
    width: 30px;
    height: 30px;
  }


  .sidebar-dashboard-overview,
  .sidebar-smart-recommendations,
  .sidebar-export-logs,
  .sidebar-alerts,
  .sidebar-support {
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    max-width: 30px;
    max-height: 30px;
  }

  .topBar-logo {
    max-width: 150px;
    max-height: 40px;
  }
}

@media (max-width: 850px) {
  .topBar a {
    font-size: 12x;
  }


  .notifications-topBar img {
    width: 20px;
    height: 20px;
  }

  .notifications-topBar p {
    font-size: 12px;
  }



  .today-date p {
    font-size: 12px;
  }

  .topBar-profile img {
    width: 20px;
    height: 20px;
  }

  .role-label {
    font-size: 12px;
  }

  .topBar-profile p {
    font-size: 12px;
  }

  .sidebar-close-menu {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
  }

  .sidebar-icons .sidebar-logo {
    margin-right: 10px;
  }
}

@media (max-width: 780px) {
  .topBar {
    max-width: 768px;
    width: 100%;
  }

  .topBar-icons {
    justify-content: space-evenly;
  }

  .location {
    display: none;
  }

  .location p {
    display: none;
  }

  .notifications-topBar p {
    display: none;
  }

  .today-date {
    display: none;
  }

  .topBar-profile img {
    width: 40px;
    height: 40px;
  }

  .notifications-topBar img {
    width: 40px;
    height: 40px;
  }

  .role-label {
    display: none;
  }

  .role-icon {
    width: 40px;
    height: 40px;
  }

  .profile-name {
    display: none;
  }

  .notifications-topBar {
    width: 100%;
  }

  .today-date {
    width: 100%;
  }

  .topBar-profile {
    width: 100%;
  }

  .topBar p {
    font-size: 14px;
  }

  /* Tooltip text */
  .tooltip-wrapper {
    position: relative;
    display: inline-block;
  }

  .tooltip-sm-screen {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #051e3b;
    color: #fff;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
  }

  .tooltip-wrapper:hover .tooltip-sm-screen {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-sm-screen::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
}

@media (max-width: 695px) {
  .topBar {
    width: 95;
    margin: 0 auto;
  }


}

@media (max-width: 450px) {
  .topBar-logo {
    max-width: 200px;
    max-height: 30px;
  }

  .topBar-profile img {
    width: 30px;
    height: 30px;
  }

  .role-icon {
    width: 30px;
    height: 30px;
  }

  .notifications-topBar img {
    width: 30px;
    height: 30px;
  }

  .topBar-close-menu {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 410px) {
  .topBar-profile img {
    width: 20px;
    height: 20px;
  }

  .role-icon {
    width: 20px;
    height: 20px;
  }

  .notifications-topBar img {
    width: 20px;
    height: 20px;
  }

  .topBar-close-menu {
    width: 20px;
    height: 20px;
  }

  .topBar-open-menu-icon {
    width: 20px;
    height: 20px;
  }

  .topBar-logo {
    max-width: 250px;
    max-height: 20px;

  }
}