/* src/styles/Login.css */
:root {
  --primary-blue: #033e5c;
  --secondary-blue: #062f58;
  --input-bg: #72a4f0;
  --border-color: #1568bb;
  --accent-green: #1c9205;
  --text-light: #ecf0f1;
  --highlight-blue: #04647c;
  --focus-glow: rgba(22, 177, 255, 0.6);
  --form-bg: #0e2c38;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  background-color: var(--form-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg);
  border-radius: 5px;
  color: #fff;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-blue);
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button-container button:hover {
  background-color: #0b7dda;
}

.error-message {
  color: #f00;
  font-size: 14px;
  margin-top: 10px;
}

h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.register-page-link {
  margin-top: 1rem;
  color: #04647c;
  text-decoration: none;
}

.register-page-link:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .login-container {
    max-width: 300px;
    padding: 1rem;
  }

  .input-field {
    padding: 8px;
  }

  .login-button-container button {
    padding: 8px;
  }
}